<div class=" d-block actionbar has-tabs">
    <nav role="navigation" class="position-relative mt-2">
      <ul class="nav navtabs mb-0">
        <li class="navtabs-item pr-4">
          <a routerLink="../vendre" class="active" title="vendre une carte">Vendre une carte</a>
        </li>
        <li class="navtabs-item pr-4">
          <a routerLink="../modifier">Modifier une carte</a>
        </li>
        <li class="navtabs-item pr-4">
          <a routerLink="../liste">Voir la liste des cartes</a>
        </li>
      </ul>
    </nav>
</div>
