<h2 class="text-center"> Listes des cartes TER en circulation</h2>

<div class="row">
  <div class="col-sm-4 p-3" *ngFor="let carte of carteList">
    <div class="card border bg-pink text-white" style="width: 18rem;">
      <div class="card-header bg-transparent">
        <p class="card-text">{{carte.id}}</p>
      </div>
      <div class="card-body bg-purple text-white">
        <p class="card-text" *ngIf="carte.nom != 0"> Nom : {{carte.nom}}</p>
        <p class="card-text" *ngIf="carte.prenom != 0">Prénom : {{carte.prenom}}</p>
        <p class="card-text" *ngIf="carte.birthday != 0"> Date de naissance : <br>
          {{carte.birthday}}</p>
        <p class="card-text" *ngIf="carte.mail != 0"> E-mail : {{carte.mail}}</p>
        <p class="card-text" *ngIf="carte.telephone != 0"> Tél : {{carte.telephone}}</p>
        <p class="card-text" *ngIf="carte.adresse != 0"> Adresse : <br>
          {{carte.adresse}}
        </p>
        <p class="card-text" *ngIf="carte.debutValidite != 0"> Début de validité : <br>
          {{carte.debutValidite}}
        </p>
        <p class="card-text" *ngIf="carte.FinValidite != 0"> Fin de validité : <br>
          {{carte.finValidite}}
        </p>
      </div>
    </div>
  </div>
</div>
